/* You can add global styles to this file, and also import other style files */

/* ----------------------------------------- */
/* Bootstrap + Icons
/* ----------------------------------------- */
$accordion-button-active-color: inherit;
$accordion-button-active-bg: inherit;

// DEV only
//$enable-reduced-motion: false;

$enable-negative-margins: true;
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.accordion-button {
  cursor: pointer;
}

i.bi {
  //noinspection CssNoGenericFontName
  font-family: bootstrap-icons;
}

/* ----------------------------------------- */
/* Custom extensions
/* ----------------------------------------- */

.cursor-pointer {
  cursor: pointer;
}

.table {
  .action-cell {
    padding: 0 $table-cell-padding-x !important;
  }

  .action-button {
    padding: 0.2rem $btn-padding-x-sm !important;
  }
}

/* ----------------------------------------- */
/* @ngneat/dialog
/* ----------------------------------------- */
ngneat-dialog {
  .ngneat-dialog-content {
    width: 100%;

    @if $enable-reduced-motion {
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }

  &.center .ngneat-dialog-content {
    margin: auto;
  }

  @include media-breakpoint-up(sm) {
    &.dialog-sm .ngneat-dialog-content {
      max-width: $modal-sm;
    }
  }

  @include media-breakpoint-up(md) {
    &.dialog-md .ngneat-dialog-content {
      max-width: $modal-md;
    }
  }

  @include media-breakpoint-up(lg) {
    .ngneat-dialog-content {
      max-width: $modal-lg;
    }
  }

  @include media-breakpoint-up(xl) {
    &.dialog-xl .ngneat-dialog-content {
      max-width: $modal-xl;
    }
  }

  .ngneat-dialog-backdrop {
    align-items: baseline;

    @if $enable-reduced-motion {
      @media (prefers-reduced-motion: reduce) {
        animation: none;
      }
    }
  }
}

/* ----------------------------------------- */
/* Dialog card
/* ----------------------------------------- */
.dialog.card {
  overflow: hidden;

  .card-header {
    padding: $modal-header-padding;
    background-color: inherit;
  }

  .card-body {
    overflow-y: auto;
  }

  .card-footer {
    display: flex;
    flex-wrap: wrap;
    flex-shrink: 0;
    align-items: center;
    justify-content: flex-end;
    padding: $modal-inner-padding - $modal-footer-margin-between / 2;
    background-color: inherit;

    > * {
      margin: $modal-footer-margin-between / 2;
    }
  }
}

/* ----------------------------------------- */
/* Toastr
/* ----------------------------------------- */
@import '~ngx-toastr/toastr';

.toast-success {
  background-color: $success;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' width='16' height='16'%3E%3Cpath fill='rgb(255,255,255)' d='M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z'/%3E%3C/svg%3E");
}

.toast-info {
  background-color: $info;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255,255,255)' class='bi bi-info-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412l-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z'/%3E%3C/svg%3E");
}

.toast-warning {
  background-color: $warning;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255,255,255)' class='bi bi-exclamation-triangle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z'/%3E%3C/svg%3E");
}

.toast-error {
  background-color: $danger;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='rgb(255,255,255)' class='bi bi-x-circle-fill' viewBox='0 0 16 16'%3E%3Cpath d='M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z'/%3E%3C/svg%3E");
}

/* ----------------------------------------- */
/* ng-select
/* ----------------------------------------- */
@import "styles/ng-select";

/* ----------------------------------------- */
/* Form validation
/* ----------------------------------------- */
@import "styles/form-validation";

/* ----------------------------------------- */
/* Table
/* ----------------------------------------- */
@import "styles/table";

/* ----------------------------------------- */
/* Footer
/* ----------------------------------------- */
@import "styles/footer";
