/* You can add global styles to this file, and also import other style files */

/* ----------------------------------------- */
/* Bootstrap + Icons
/* ----------------------------------------- */
$accordion-button-active-color: inherit;
$accordion-button-active-bg: inherit;

// DEV only
$enable-reduced-motion: false;

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

.accordion-button {
  cursor: pointer;
}
/* ----------------------------------------- */
/* ngx-datatable
/* ----------------------------------------- */
@import "styles/ngx-datatable";

/* ----------------------------------------- */
/* Form validation
/* ----------------------------------------- */
@import "styles/form-validation";

/* ----------------------------------------- */
/* Footer
/* ----------------------------------------- */
@import "styles/footer";
