@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/mixins.scss';

.row-header {
  color: $card-cap-color;
  background-color: $card-cap-bg;
  padding-top: $card-cap-padding-y;
  padding-bottom: $card-cap-padding-y;
}

.row-day-header {
  color: $card-cap-color;
  background-color: $card-cap-bg;
}

.row-running {
  $background-color: shift-color($success, $table-bg-scale);
  color: color-contrast(opaque($body-bg, $background-color));
  background-color: $background-color;
}

@include media-breakpoint-up(xl) {
  .col-date {
    min-width: 6rem;
  }

  .col-start-end {
    min-width: 7rem;
  }

  .col-duration {
    min-width: 5rem;
  }
}

@include media-breakpoint-up(md) {
  .col-action {
    min-width: 7rem;
  }
}
