@import 'modules/timetracking/styles/variables';

.select-customer {
  color: $gray-600;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;

  img {
    width: 4rem;
  }
}
