/* You can add global styles to this file, and also import other style files */

/* ----------------------------------------- */
/* Bootstrap + Icons
/* ----------------------------------------- */
@import "styles/theme";
$accordion-button-active-color: inherit;
$accordion-button-active-bg: inherit;
$enable-negative-margins: true;

// DEV only
//$enable-reduced-motion: false;

@import "~bootstrap/scss/bootstrap";

/* ----------------------------------------- */
/* Fix flickering on show/hide scrollbar.
/* Currently done by bootstrap.
/* ----------------------------------------- */
html {
  // Fix flickering when page scrollbar appears/disappears (e.g. modal dialog is opened).
  // See https://stackoverflow.com/a/59407573/1271211, https://aykevl.nl/2014/09/fix-jumping-scrollbar
  margin-left: calc(100vw - 100%);
  margin-right: 0;
  overflow-y: scroll;
}

/* ----------------------------------------- */
/* Custom extensions
/* ----------------------------------------- */
.cursor-pointer {
  cursor: pointer;
}

td.action-cell {
  padding: 0 $table-cell-padding-x !important;
}

.action-icon {
  height: 1.2rem;
  width: 1.2rem;

  svg {
    vertical-align: -0.25rem;
  }
}

a {
  cursor: pointer;
}

/* ----------------------------------------- */
/* Table-Card
/* ----------------------------------------- */
.table-card {
  thead {
    tr {
      & > * {
        padding-top: $card-cap-padding-y !important;
        padding-bottom: $card-cap-padding-y !important;;
      }

      color: $card-cap-color;
      background-color: $card-cap-bg;
      border-bottom: $card-border-width solid $card-border-color;
    }
  }

  & > :not(:first-child) {
    border-top: none !important;
  }

  > * > * > *:first-child {
    padding-left: $card-cap-padding-x !important;;
  }

  > * > * > *:last-child {
    padding-right: $card-cap-padding-x !important;
  }
}

/* ----------------------------------------- */
/* bootstrap-icons
/* ----------------------------------------- */
ts-icon {
  height: 1rem;
  width: 1rem;
  display: inline-block;
}

/* ----------------------------------------- */
/* bootstrap-datepicker
/* ----------------------------------------- */
@import "~bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css";
.datepicker table tr td.disabled, .datepicker table tr td.disabled:hover {
  color: #E0E0E0;
}

/* ----------------------------------------- */
/* Toastr
/* ----------------------------------------- */
@import "styles/toastr";

/* ----------------------------------------- */
/* ng-select
/* ----------------------------------------- */
@import "styles/ng-select";

/* ----------------------------------------- */
/* Form validation
/* ----------------------------------------- */
@import "styles/form-validation";

/* ----------------------------------------- */
/* Table
/* ----------------------------------------- */
@import "styles/table";

/* ----------------------------------------- */
/* Footer
/* ----------------------------------------- */
@import "styles/footer";
