<div class="card">
  <div class="card-header" i18n="@@Page.MasterData.Customers">
    [i18n] Customers
  </div>
  <div class="card-body">
    <ts-simple-table
      #customerTable
      [columns]="columns"
      [rows]="rows"
      [configuration]="configuration">
    </ts-simple-table>
  </div>
</div>

<ng-template #editCellTemplate let-row="row">
  <a class="d-block text-decoration-none text-body" [routerLink]="row.id">
    <i class="bi bi-pencil-square pe-2"></i>
  </a>
</ng-template>

<ng-template #dataCellTemplate let-row="row" let-column="column">
  {{getCellValue(row, column)}}
</ng-template>

<router-outlet></router-outlet>
