<div class="d-flex justify-content-between align-items-start mb-3">
  <h4 i18n="@@Page.MasterData.Settings.Title">
    [i18n] Settings
  </h4>
</div>

<form id="workingHoursForm" [formGroup]="settingsForm" (ngSubmit)="save()" #form="ngForm">
  <div class="row">
    <div class="col-6 col-md-4 col-lg-3 col-xxl-2" formGroupName="workdays">
      <h6 class="form-label" i18n="@@Page.MasterData.Settings.Workdays">
        [i18n] Workdays
      </h6>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="monday" formControlName="Monday">
        <label class="form-check-label" for="monday" i18n="@@DTO.SettingDto.Monday">[i18n] Monday</label>
      </div>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="tuesday" formControlName="Tuesday">
        <label class="form-check-label" for="tuesday" i18n="@@DTO.SettingDto.Tuesday">[i18n] Tuesday</label>
      </div>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="wednesday" formControlName="Wednesday">
        <label class="form-check-label" for="wednesday" i18n="@@DTO.SettingDto.Wednesday">[i18n] Wednesday</label>
      </div>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="thursday" formControlName="Thursday">
        <label class="form-check-label" for="thursday" i18n="@@DTO.SettingDto.Thursday">[i18n] Thursday</label>
      </div>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="friday" formControlName="Friday">
        <label class="form-check-label" for="friday" i18n="@@DTO.SettingDto.Friday">[i18n] Friday</label>
      </div>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="saturday" formControlName="Saturday">
        <label class="form-check-label" for="saturday" i18n="@@DTO.SettingDto.Saturday">[i18n] Saturday</label>
      </div>
      <div class="form-check form-check">
        <input class="form-check-input" type="checkbox" id="sunday" formControlName="Sunday">
        <label class="form-check-label" for="sunday" i18n="@@DTO.SettingDto.Sunday">[i18n] Sunday</label>
      </div>
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <h6 class="form-label" i18n="@@Page.MasterData.Settings.WorkHoursPerWorkday">
        [i18n] Working hours / weekday
      </h6>
      <input id="workHoursPerWorkday" type="time" tsTime class="form-control w-auto" formControlName="workHoursPerWorkday" autocomplete="off">
    </div>
    <div class="col-6 col-md-4 col-lg-3">
      <h6 class="form-label" i18n="@@Page.MasterData.Settings.Currency">
        [i18n] Currency
      </h6>
      <input id="currency" type="text" class="form-control w-auto" formControlName="currency">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col">
      <button form="workingHoursForm" type="submit" class="btn btn-primary">
        <ng-container i18n="@@Common.Save">[i18n] Save</ng-container>
      </button>
    </div>
  </div>
</form>
