#extendedFilterToggler {
  cursor: pointer;

  &.collapsed {
    .text-expand {
      display: inline-block;
    }

    .text-collapse {
      display: none;
    }
  }

  &:not(.collapsed) {
    .text-expand {
      display: none;
    }

    .text-collapse {
      display: inline-block;
    }
  }
}

.month-input {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 4rem;
  cursor: pointer;
  background-color: inherit;
}
