<!-- Header -->
<div class="d-flex justify-content-between align-items-start mb-2">
  <h4 class="col-auto" i18n="@@Component.Filter.Title">[i18n] Filter</h4>
  <div>
    <button *ngIf="isFiltered$|ngrxPush"
            (click)="clearFilterForm()"
            type="button"
            class="btn btn-sm btn-danger me-2"
            i18n="@@Component.Filter.Clear">
      [i18n] Clear Filter
    </button>
    <button id="extendedFilterToggler"
            type="button"
            class="btn btn-sm btn-outline-secondary collapsed"
            data-bs-toggle="collapse"
            data-bs-target="#extendedFilter"
            aria-expanded="false"
            aria-controls="extendedFilter">
      <span class="text-expand" i18n="@@Common.Expand">[i18n] Expand</span>
      <span class="text-collapse" i18n="@@Common.Collapse">[i18n] Collapse</span>
    </button>
  </div>
</div>

<form id="filterForm" [formGroup]="filterForm">

  <!-- Standard filter -->
  <div class="row g-3">
    <div class="col-6 col-xl-3">
      <label class="visually-hidden" for="startDate" i18n="@@Component.Filter.From">[i18n] From</label>
      <div class="input-group">
        <input id="startMonth"
               type="text"
               class="form-control month-input"
               readonly
               placeholder="[i18n] From"
               i18n-placeholder="@@Component.Filter.From"
               formControlName="startMonth"
               tsDatePicker
               format="MMM"
               minViewMode="months"
               inputmode="none"
               autocomplete="off">
        <input id="startDate"
               type="text"
               class="form-control"
               placeholder="[i18n] From"
               i18n-placeholder="@@Component.Filter.From"
               formControlName="startDate"
               tsDatePicker
               inputmode="none"
               autocomplete="off">
      </div>
    </div>
    <div class="col-6 col-xl-3">
      <label class="visually-hidden" for="endDate" i18n="@@Component.Filter.To">[i18n] To</label>
      <div class="input-group">
        <input id="endMonth"
               type="text"
               class="form-control month-input"
               readonly
               placeholder="[i18n] To"
               i18n-placeholder="@@Component.Filter.To"
               formControlName="endMonth"
               tsDatePicker
               format="MMM"
               minViewMode="months"
               relativeAnchor="end"
               inputmode="none"
               autocomplete="off">
        <input id="endDate"
               type="text"
               class="form-control"
               placeholder="[i18n] To"
               i18n-placeholder="@@Component.Filter.To"
               formControlName="endDate"
               tsDatePicker
               relativeAnchor="end"
               inputmode="none"
               autocomplete="off">
      </div>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <!--suppress XmlInvalidId -->
      <label for="customerTitle" class="visually-hidden" i18n="@@Component.Filter.Customer">[i18n] Customer</label>
      <ng-select [items]="customers$ | ngrxPush"
                 [multiple]="true"
                 dropdownPosition="bottom"
                 placeholder="[i18n] Customer"
                 i18n-placeholder="@@Component.Filter.Customer"
                 bindValue="id"
                 bindLabel="value"
                 labelForId="customerTitle"
                 appendTo="body"
                 formControlName="projectCustomerId">
        <ng-template ng-option-tmp let-item="item">
          <span [ngClass]="{'text-decoration-line-through': item.hidden, 'text-secondary': item.hidden}">{{item.value}}</span>
        </ng-template>
      </ng-select>
    </div>
    <div class="col-12 col-sm-6 col-xl-3">
      <!--suppress XmlInvalidId -->
      <label for="projectTitle" class="visually-hidden" i18n="@@Component.Filter.Project">[i18n] Project</label>
      <ng-select [items]="projects$ | ngrxPush"
                 [multiple]="true"
                 dropdownPosition="bottom"
                 bindValue="id"
                 bindLabel="value"
                 placeholder="[i18n] Project"
                 i18n-placeholder="@@Component.Filter.Project"
                 labelForId="projectTitle"
                 appendTo="body"
                 formControlName="projectId">
        <ng-template ng-option-tmp let-item="item">
          <span [ngClass]="{'text-decoration-line-through': item.hidden, 'text-secondary': item.hidden}">{{item.value}}</span>
        </ng-template>
      </ng-select>
    </div>
  </div>

  <!-- Extended filter -->
  <div id="extendedFilter" class="collapse">
    <div class="row g-3 my-0">
      <div class="col-12 col-md-3">
        <!--suppress XmlInvalidId -->
        <label for="activityTitle" class="visually-hidden" i18n="@@Component.Filter.Activity">[i18n] Activity</label>
        <ng-select [items]="activities$ | ngrxPush"
                   [multiple]="true"
                   dropdownPosition="bottom"
                   bindValue="id"
                   bindLabel="value"
                   placeholder="[i18n] Activity"
                   i18n-placeholder="@@Component.Filter.Activity"
                   labelForId="activityTitle"
                   appendTo="body"
                   formControlName="activityId">
          <ng-template ng-option-tmp let-item="item">
            <span [ngClass]="{'text-decoration-line-through': item.hidden, 'text-secondary': item.hidden}">{{item.value}}</span>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-12 col-md-3">
        <!--suppress XmlInvalidId -->
        <label for="orderTitle" class="visually-hidden" i18n="@@Component.Filter.Order">[i18n] Order</label>
        <ng-select [items]="orders$ | ngrxPush"
                   [multiple]="true"
                   dropdownPosition="bottom"
                   placeholder="[i18n] Order"
                   bindValue="id"
                   bindLabel="value"
                   i18n-placeholder="@@Component.Filter.Order"
                   labelForId="orderTitle"
                   appendTo="body"
                   formControlName="orderId">
          <ng-template ng-option-tmp let-item="item">
            <span [ngClass]="{'text-decoration-line-through': item.hidden, 'text-secondary': item.hidden}">{{item.value}}</span>
          </ng-template>
        </ng-select>
      </div>
      <div class="col-12 col-md-3">
        <label for="issue" class="visually-hidden" i18n="@@Component.Filter.Issue">[i18n] Issue</label>
        <input id="issue"
               type="text"
               class="form-control"
               placeholder="[i18n] Issue"
               i18n-placeholder="@@Component.Filter.Issue"
               formControlName="issue"
               (keydown.enter)="changeValue($event, 'issue')">
      </div>
      <div class="col-12 col-md-3">
        <label for="issue" class="visually-hidden" i18n="@@Component.Filter.Comment">[i18n] Comment</label>
        <input id="comment"
               type="text"
               class="form-control"
               placeholder="[i18n] Comment"
               i18n-placeholder="@@Component.Filter.Comment"
               formControlName="comment"
               (keydown.enter)="changeValue($event, 'comment')">
      </div>
    </div>
  </div>

</form>
