@import '~src/styles/variables';

//$nav-text: color-contrast($success);
$nav-text-active: $gray-100;
$nav-text: rgba($nav-text-active, .55);
$navbar-toggler-icon-bg: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='#{$nav-text}' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>") !default;

// Branding
.navbar-light .navbar-brand {
  color: $nav-text-active; // $navbar-light-brand-color
}

// Top link
.navbar.navbar-light .navbar-nav .nav-link {
  color: $nav-text; // $navbar-light-color;
}

// Top link:active
.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .nav-link.active {
  color: $nav-text-active; // $navbar-light-active-color
}

// Top dropdown:active
.dropdown.active > .dropdown-toggle {
  color: $nav-text-active !important; // $navbar-light-active-color
}

// Top link:hover
.navbar.navbar-light .navbar-nav .nav-link:hover,
.navbar.navbar-light .navbar-nav .nav-link:focus {
  color: $nav-text-active; // $navbar-light-active-color
}

// Drop down
.dropdown-item {
  color: $nav-text; // $navbar-light-color;
}

// Drop down:active
.dropdown-item.active,
.dropdown-item:active {
  color: $nav-text-active; // $navbar-light-active-color
  background-color: inherit;
}

// Drop down:hover
.dropdown-item:hover,
.dropdown-item:focus {
  color: $nav-text-active; // $navbar-light-active-color
  background-color: inherit;
}

.navbar-light .navbar-toggler {
  color: $nav-text; // $navbar-light-color;
  border-color: $navbar-dark-toggler-border-color;
}

.navbar-toggler-icon {
  background-image: escape-svg($navbar-toggler-icon-bg);
}
