<div class="d-flex justify-content-between align-items-start mb-2">
  <h4 i18n="@@Page.MasterData.Orders.Title">
    [i18n] Orders
  </h4>
  <button type="button" class="btn btn-sm btn-primary" [routerLink]="guidService.guidEmpty">
    <ng-container i18n="@@Page.MasterData.Orders.New">[i18n] New Order</ng-container>
  </button>
</div>

<ts-simple-table
  [columns]="columns"
  [rows]="rows$ | ngrxPush"
  [configuration]="configuration">
</ts-simple-table>

<ng-template #dataCellTemplate let-row="row" let-column="column" let-table="table">
  <span [ngClass]="{'text-secondary text-decoration-line-through': row.hidden}">
    {{table.getCellValue(row, column)}}
  </span>
</ng-template>

<ng-template #actionCellTemplate let-row="row">
  <a class="text-secondary me-2"
     title="[i18n] Edit Order"
     i18n-title="@@Page.MasterData.Orders.Edit"
     [routerLink]="row.id">
    <ts-icon icon="bi bi-pencil-square" class="action-icon"></ts-icon>
  </a>
  <ts-simple-confirm
    title="[i18n] Delete order"
    i18n-title="@@Page.MasterData.Orders.Delete"
    message="[i18n] Are you sure you want to delete this order?. This cannot be undone."
    i18n-message="@@Page.MasterData.Orders.DeleteMessage"
    actionIcon="bi bi-eraser"
    actionText="[i18n] Delete Order"
    i18n-actionText="@@Page.MasterData.Orders.Delete"
    color="danger"
    (confirmed)="deleteItem(row.id)">
    <a class="text-danger">
      <ts-icon icon="bi bi-eraser" class="action-icon"></ts-icon>
    </a>
  </ts-simple-confirm>
</ng-template>

<router-outlet></router-outlet>
