@import 'modules/timetracking/styles/variables';

.month-date-input {
  position: relative;
}

.month-input {
  position: absolute;
  top: 0.1875rem;
  left: 0.1875rem;
  width: 4.125rem;
  height: 2.25rem;

  color: $white;
  background-color: $primary;
  border: 1px solid $primary;
  padding: $input-padding-y 0;
  cursor: pointer;

  &::placeholder {
    color: $primary;
  }

  &:placeholder-shown {
    color: $primary;
    background-color: $white;
  }

  &:hover {
    border-color: $primary-700;
    background-color: $primary-700;

  }

  &:hover:placeholder-shown {
    border-width: 2px;
    border-color: $primary;
    background-color: $primary-100;
  }
}

.date-input {
  padding-left: 5.25rem;
  padding-right: 2.4rem;

  &:focus {
    padding-left: 5.1875rem;
  }
}

.clear {
  position: absolute;
  border: none;
  top: 0;
  bottom: 0;
  right: .875rem;
  cursor: pointer;
  background: transparent;
  padding-left: 0;
  padding-right: 0;

  svg {
    height: 1.2em;
    width: 1.2em;
    vertical-align: -0.25em;
  }
}
