@import '~bootstrap/scss/functions.scss';
@import '~bootstrap/scss/variables.scss';
@import '~bootstrap/scss/mixins.scss';

#extendedFilterToggler {
  cursor: pointer;

  &.collapsed {
    .text-expand {
      display: inline-block;
    }

    .text-collapse {
      display: none;
    }
  }

  &:not(.collapsed) {
    .text-expand {
      display: none;
    }

    .text-collapse {
      display: inline-block;
    }
  }
}

.filtered {
  &:empty,
  &::ng-deep .ng-select-container {
    border-left-color: $warning;
    box-shadow: -0.2rem 0px 0px 0px $warning;
  }
}
