<div class="header">
  <div class="container d-flex align-items-center justify-content-between h-100">
    <div class="card border-0">
      <div class="card-body">
        <div class="content">
          <span class="primary fs-3 fw-bold text-primary">11,3</span>
          <span class="secondary text-secondary">(90h 41m)</span>
          <div class="description fw-bold small" i18n="@@Page.Timesheet.WorkedDays">[i18n] days worked</div>
        </div>
        <div class="icon briefcase"></div>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <div class="content">
          <span class="primary fs-3 fw-bold text-primary">11,3</span>
          <span class="secondary text-secondary">(90h 41m)</span>
          <div class="description fw-bold small" i18n="@@Page.Timesheet.Workdays">[i18n] working days</div>
        </div>
        <div class="icon calendar-week"></div>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <div class="content">
          <span class="primary fs-3 fw-bold text-primary">11,3</span>
          <span class="secondary text-secondary">(90h 41m)</span>
          <div class="description fw-bold small" i18n="@@Page.Timesheet.VacationDays">[i18n] vacation days</div>
        </div>
        <div class="icon sun"></div>
      </div>
    </div>
    <div class="card border-0">
      <div class="card-body">
        <div class="content">
          <span class="primary fs-3 fw-bold text-primary">11,3</span>
          <span class="secondary text-secondary">(90h 41m)</span>
          <div class="description fw-bold small">Tage gearbeitet</div>
        </div>
        <div class="icon chart"></div>
      </div>
    </div>
  </div>
</div>
