<div class="row">
  <!-- Chart -->
  <div class="col-12 col-md-8 col-xl-9 order-last order-md-first timesheet px-4">
    <ng-container *ngTemplateOutlet="chart"></ng-container>
  </div>
  <div class="col-12 col-md-4 col-xl-3 order-first order-md-last ps-md-2 ps-lg-5 pb-5 pb-md-0 filter">
    <!-- Filter -->
    <ts-filter filterId="filterCharts"
               [filters]="filters">
    </ts-filter>
  </div>
</div>

<ng-template #chart>
  <h4 class="d-inline-block" i18n="@@Page.Chart.Orders.Title">
    [i18n] Planned/actual by order
  </h4>
  <div class="row">
    <div class="col-3">
      <ts-chart-workday-info
        type="order"
        [overbookEntries]="overbookedOrders"
        [daysPlanned]="tableFooter.daysPlanned"
        [daysWorked]="tableFooter.daysWorked">
      </ts-chart-workday-info>
    </div>
    <div class="col-9">
      <div id="chart" *ngIf="chartSeries">
        <apx-chart
          [series]="chartSeries"
          [chart]="chartOptions.chart"
          [xaxis]="chartOptions.xAxis"
          [yaxis]="chartOptions.yAxis"
          [colors]="chartOptions.colors"
          [plotOptions]="chartOptions.plotOptions"
          [fill]="chartOptions.fill"
          [grid]="chartOptions.grid"
          [states]="chartOptions.states"
          [dataLabels]="chartOptions.dataLabels"
          [tooltip]="chartOptions.tooltip"
          [legend]="chartOptions.legend">
        </apx-chart>
      </div>
    </div>
  </div>

  <ts-chart-totals-overview
    [rows]="chartRows"
    [selectedRow]="chartRowsSelected">
  </ts-chart-totals-overview>

  <ts-simple-table
    class="d-block mt-5"
    [columns]="tableColumns"
    [rows]="tableRows"
    [configuration]="tableConfiguration"
    (rowsChanged)="tableRowsChanged($event.rows)"
    (dataCellClick)="dataCellClick($event)">
  </ts-simple-table>

  <div *ngIf="plannedArePartial" class="row">
    <div class="col p-0">
      <div class="alert alert-warning m-2" role="alert">
        <svg class="bi me-2" fill="currentColor">
          <use xlink:href="assets/icons.svg#exclamation-circle"/>
        </svg>
        <ng-container i18n="@@Page.Chart.Common.PartialPlannedValues">
          [i18n] The order period is greater than selected period. The values are displayed proportionally.
        </ng-container>
      </div>
    </div>
  </div>
</ng-template>

<ng-template #orderDataTemplate let-row="row">
  <span class="chart-legend me-2" [ngStyle]="{'background-color': row.color}"></span>
  <span *ngIf="row.selected" class="text-primary me-2">
    <svg class="bi" fill="currentColor">
      <use xlink:href="assets/icons.svg#pin-angle-fill"/>
    </svg>
  </span>
  <span class="customer-title">{{row.orderTitle}}</span>
</ng-template>

<ng-template #orderPeriodHeadTemplate let-table="table" let-column="column">
  <span class="d-none d-lg-inline">{{column.title}}</span>
  <span class="d-none d-lg-inline" [class]="table.getCssSortOrder(column)">{{table.getGlyphSortOrder(column)}}</span>
</ng-template>

<ng-template #orderPeriodDataTemplate let-row="row">
  <span class="d-none d-lg-inline">{{formatService.formatDate(row.plannedStart)}} - {{formatService.formatDate(row.plannedEnd)}}</span>
  <svg *ngIf="row.plannedIsPartial" class="bi text-warning ms-1" fill="currentColor">
    <use xlink:href="assets/icons.svg#exclamation-circle"/>
  </svg>
</ng-template>

<ng-template #orderPeriodFooterTemplate>
  <span class="d-none d-lg-inline">{{getMinPlanned()}} - {{getMaxPlanned()}}</span>
</ng-template>

<ng-template #infoCellTemplate let-row="row">
  <a class="text-secondary ms-2"
     [ngbPopover]="infoDetailPopover"
     [autoClose]="'outside'"
     popoverClass="popup-full-width">
    <svg class="bi action-icon" fill="currentColor">
      <use xlink:href="assets/icons.svg#info-circle"/>
    </svg>
  </a>

  <ng-template #infoDetailPopover>
    <table class="table table-borderless table-sm">
      <thead>
      <tr>
        <th></th>
        <th class="text-nowrap text-end" i18n="@@Page.Chart.Common.Days">[i18n] Days</th>
        <th class="text-nowrap text-end" i18n="@@Page.Chart.Common.Hours">[i18n] Hours</th>
        <th *ngIf="row.daysPlanned" class="text-nowrap text-end" i18n="@@Page.Chart.Common.Percentage">[i18n] %</th>
        <th class="text-nowrap text-end" i18n="@@Page.Chart.Common.Budget">[i18n] Budget</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngIf="row.daysPlanned">
        <th scope="row" class="pe-2" i18n="@@Page.Chart.Common.Planned">[i18n] Planned</th>
        <td class="text-nowrap text-end">{{formatService.formatDays(row.daysPlanned)}} {{LOCALIZED_DAYS}}</td>
        <td class="text-nowrap text-end">{{row.timePlanned | tsDuration}} {{LOCALIZED_HOURS}}</td>
        <td class="text-nowrap text-end">100 {{LOCALIZED_PERCENTAGE}}</td>
        <td class="text-nowrap text-end">{{formatService.formatBudget(row.budgetPlanned)}} {{row.currency}}</td>
      </tr>
      <tr>
        <th scope="row" class="pe-2" i18n="@@Page.Chart.Common.Worked">[i18n] Worked</th>
        <td class="text-nowrap text-end">{{formatService.formatDays(row.daysWorked)}} {{LOCALIZED_DAYS}}</td>
        <td class="text-nowrap text-end">{{row.timeWorked | tsDuration}} {{LOCALIZED_HOURS}}</td>
        <td *ngIf="row.daysPlanned" class="text-nowrap text-end">{{row.completed * 100 | number:'1.0-0'}} {{LOCALIZED_PERCENTAGE}}</td>
        <td class="text-nowrap text-end">{{formatService.formatBudget(row.budgetWorked)}} {{row.currency}}</td>
      </tr>
      <tr *ngIf="row.daysPlanned">
        <th scope="row" class="pe-2" i18n="@@Page.Chart.Common.Left">[i18n] Left</th>
        <td class="text-nowrap text-end">{{formatService.formatDays(row.daysDifference)}} {{LOCALIZED_DAYS}}</td>
        <td class="text-nowrap text-end">{{row.timeDifference | tsDuration}} {{LOCALIZED_HOURS}}</td>
        <td class="text-nowrap text-end">{{(1 - row.completed) * 100 | number:'1.0-0'}} {{LOCALIZED_PERCENTAGE}}</td>
        <td class="text-nowrap text-end">{{formatService.formatBudget(row.budgetDifference)}} {{row.currency}}</td>
      </tr>
      </tbody>
    </table>
  </ng-template>
</ng-template>

<ng-template #infoFooterTemplate>
  <ng-container *ngTemplateOutlet="infoCellTemplate; context: {row: tableFooter}"></ng-container>
</ng-template>
