<div class="card">
  <h5 class="card-header d-flex justify-content-between align-items-center">
    <ng-container i18n="@@Page.MasterData.Customers.Title">
      [i18n] Customers
    </ng-container>
    <button type="button" class="btn btn-sm btn-primary" [routerLink]="guidService.guidEmpty">
      <ts-icon icon="bi bi-plus-circle" class="me-1"></ts-icon>
      <ng-container i18n="@@Common.New">[i18n] New</ng-container>
    </button>
  </h5>
  <div class="card-body">
    <ts-simple-table
      [columns]="columns"
      [rows]="rows$ | ngrxPush"
      [configuration]="configuration"
      (dataCellClick)="dataCellClick($event)">
    </ts-simple-table>
  </div>
</div>

<ng-template #dataCellTemplate let-row="row" let-column="column" let-table="table">
  <a class="text-decoration-none"
     [ngClass]="{'text-secondary': row.hidden, 'text-body': !row.hidden}"
     [routerLink]="row.id"
     (click)="$event.stopPropagation()">
    {{table.getCellValue(row, column)}}
  </a>
</ng-template>

<ng-template #actionCellTemplate let-row="row">
  <a class="text-secondary me-2"
     title="[i18n] Edit Customer"
     i18n-title="@@Page.MasterData.Customers.Edit"
     [routerLink]="row.id">
    <ts-icon icon="bi bi-pencil-square" class="action-icon"></ts-icon>
  </a>
  <ts-simple-confirm
    title="[i18n] Delete Customer"
    i18n-title="@@Page.MasterData.Customers.Delete"
    message="[i18n] Are you sure you want to delete this customer?. This cannot be undone."
    i18n-message="@@Page.MasterData.Customers.DeleteMessage"
    actionIcon="bi bi-eraser"
    actionText="[i18n] Delete Customer"
    i18n-actionText="@@Page.MasterData.Customers.Delete"
    color="danger"
    (confirmed)="deleteItem(row.id)">
    <a class="text-danger">
      <ts-icon icon="bi bi-eraser" class="action-icon"></ts-icon>
    </a>
  </ts-simple-confirm>
</ng-template>

<router-outlet></router-outlet>
