.add-filter {
  margin-top: 2.3rem;
}

.reset-filter {
  margin-top: .3rem;
}

.clearable {
  position: relative;

  input {
    padding-right: 3rem;
  }

  button {
    position: absolute;
    border: none;
    top: 0;
    bottom: 0;
    right: .875rem;
    cursor: pointer;
    background: transparent;
  }

  .reset svg {
    height: 1.2em;
    width: 1.2em;
    vertical-align: -0.25em;
  }

  .add svg {
    vertical-align: -0.25em;
  }
}
