//$page-background: #FFFFFF;
$page-background: #F8F9FA;

$primary: #0d4abaff;
//$secondary: ;
$success: #628b48;
//$success: #3C9626;
$info: #6b9dfaff;
$warning: #f7a916ff;
$danger: #D81E5B;
$danger: #CC2936;
//$light: ;
//$dark: ;

//// Galaxy Rainbow, https://www.schemecolor.com/galaxy-rainbow.php
//$primary: #3342C4;
//$secondary: #6c757d;
//$success: #62BA27;
//$info: #9362C4;
//$warning: #FFC400;
//$danger: #A80000;
//$light: #f8f9fa;
//$dark: #212529;

//// Rainbow For Everyone, https://www.schemecolor.com/rainbow-for-everyone.php
//$primary: #4996c8;
//$secondary: #6c757d;
//$success: #6eb35e;
//$info: #774ed8;
//$warning: #ecd03f;
//$danger: #ea5555;
//$light: #f8f9fa;
//$dark: #212529;

//// Summer Camp, https://www.schemecolor.com/summer-camp.php
//$primary: #048ef8;
//$secondary: #6c757d;
//$success: #89d328;
//$info: #89008c;
//$warning: #fcef00;
//$danger: #d30702;
//$light: #f8f9fa;
//$dark: #212529;

// -------------------------------------
//// Bright Summer Beach, https://www.schemecolor.com/bright-summer-beach.php
//$primary: #4A8BE0;
//$secondary: #6c757d;
//$success: #6BC920;
//$info: #41BBE0;
//$warning: #FAC509;
//$danger: #ED3D07;
//$light: #f8f9fa;
//$dark: #212529;

//// Summer In Italy, https://www.schemecolor.com/summer-in-italy.php
//$primary: #d5d523;
//$secondary: #6c757d;
//$success: #69af32;
//$info: #0daac3;
//$warning: #f5c922;
//$danger: #e78c96;
//$light: #f8f9fa;
//$dark: #212529;

//// Summer Hot As Fire, https://www.schemecolor.com/summer-hot-as-fire.php
//$primary: #16aeef;
//$secondary: #6c757d;
//$success: #5dc264;
//$info: #946be1;
//$warning: #f9cf57;
//$danger: #ff781e;
//$light: #f8f9fa;
//$dark: #212529;

//// Neon Unicorn, https://www.schemecolor.com/neon-unicorn.php
//$primary: #007fff;
//$secondary: #6c757d;
//$success: #77fb00;
//$info: #6f00ef;
//$warning: #feff00;
//$danger: #faab00;
//$light: #f8f9fa;
//$dark: #212529;

//// Unicorn High, https://www.schemecolor.com/unicorn-high.php
//$primary: #5286da;
//$secondary: #6c757d;
//$success: #6dbb5b;
//$info: #714eb3;
//$warning: #ebe051;
//$danger: #e14e65;
//$light: #f8f9fa;
//$dark: #212529;

//// Authentic Unicorn, https://www.schemecolor.com/authentic-unicorn.php
//$primary: #3b3285;
//$secondary: #6c757d;
//$success: #a6cb3f;
//$info: #08a4b1;
//$warning: #e7d614;
//$danger: #ef517f;
//$light: #f8f9fa;
//$dark: #212529;

//// Vibrant Unicorn, https://www.schemecolor.com/vibrant-unicorn.php
//$primary: #00a7ea;
//$secondary: #6c757d;
//$success: #8ae800;
//$info: #7734ea;
//$warning: #faf100;
//$danger: #ff0061;
//$light: #f8f9fa;
//$dark: #212529;

//// Depressing Rainbow, https://www.schemecolor.com/depressing-rainbow.php
//$primary: #415787;
//$secondary: #6c757d;
//$success: #7DC481;
//$info: #583B73;
//$warning: #E7E063;
//$danger: #D14960;
//$light: #f8f9fa;
//$dark: #212529;

//// New Pastels Rainbow, https://www.schemecolor.com/new-pastels-rainbow.php
//$primary: #92ceee;
//$secondary: #6c757d;
//$success: #c3e8b5;
//$info: #9eabd6;
//$warning: #ffeeb8;
//$danger: #f8d4ce;
//$light: #f8f9fa;
//$dark: #212529;

//// Rainbows Exist, https://www.schemecolor.com/rainbows-exist.php
//$primary: #36cedc;
//$secondary: #6c757d;
//$success: #8fe968;
//$info: #a587ca;
//$warning: #ffea56;
//$danger: #fe797b;
//$light: #f8f9fa;
//$dark: #212529;

//// Pastel Party, https://www.schemecolor.com/pastel-party.php
//$primary: #00c0d0;
//$secondary: #6c757d;
//$success: #9ee362;
//$info: #7e74d4;
//$warning: #ffd403;
//$danger: #ff9356;
//$light: #f8f9fa;
//$dark: #212529;
