@import '/src/styles/component-imports';

.month-input {
  flex-grow: 0;
  flex-shrink: 0;
  min-width: 4rem;
  cursor: pointer;
  background-color: $input-bg;
  padding-left: $input-btn-padding-x;
  padding-right: $input-btn-padding-x;
}
