@import 'modules/timetracking/styles/variables';

// Nav bar header and bottom border
.navbar {
  border-top: 0.5625rem solid $primary;
  border-bottom: 0.125rem solid $gray-200;

  @include media-breakpoint-down(lg) {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }
}

.nav-item {
  font-weight: bold;
}

// Branding icon
.navbar-brand {
  .icon {
    height: 1.667em;
    width: 1.667em;
    background-color: $primary;
    display: inline-block;
    border-radius: 50%;
    position: absolute;

    svg {
      width: 100%;
      height: 100%;
      transform: scale(0.5);
    }
  }

  .brand-text {
    margin-left: calc(1.65em + 1rem);
  }
}

// Nav item custom caret
.dropdown {
  .dropdown-toggle::after {
    border: none;
    width: 1em;
    height: 1em;
    margin-left: 0.5em;
    background-image: url('/assets/icons.svg#chevron-down');
    background-repeat: no-repeat;
    filter: $filter-gray-400;
    vertical-align: middle;
  }

  &.active .dropdown-toggle::after {
    filter: $filter-gray-900;
  }
}

// Active nav item font
.nav-item.active .nav-link {
  color: $gray-900;
  font-weight: $font-weight-bold;
}

// Active nav item underline
@include media-breakpoint-up(lg) {
  .nav-item.active {
    margin-bottom: -1rem;

    &:after {
      content: "";
      border-bottom: .25rem solid $primary;
      display: block;
      width: 3.125rem;
      margin: -.25rem auto auto auto;
      border-radius: .125rem;
    }

    &.dropdown:after {
      margin-left: calc(50% - (3.125rem / 2) - .75em);
    }
  }
}

// Language/Flag
.flag {
  height: 1em;
  border: 0px solid white;
  border-radius: 5px;
  margin-top: -0.1875em;
  margin-right: 0.625rem;
}

.breakpoint {
  position: fixed;
  z-index: 5000;
  top: 10px;
  left: 6px;
}
