@import "fonts";
$font-family-base: "Sarabun";

$primary: #0D3B66;
//$secondary: ;
$success: #628B48;
$info: #6B9DFA;
$warning: #F7A916;
$danger: #D81E5B;
$danger: #CC2936;
//$light: ;
//$dark: ;

// https://coolors.co
// https://color.adobe.com/de/create/color-wheel
// https://www.schemecolor.com/new-pastels-rainbow.php
