<ng-template #projectEdit>
  <div class="dialog card card-lg">
    <h5 class="card-header">
      <ng-container i18n="@@Page.MasterData.ProjectEdit">[i18n] Edit Project</ng-container>
    </h5>
    <div class="card-body">
      <form id="projectForm" [formGroup]="projectForm" (ngSubmit)="save()">
        <div class="row g-3">
          <div class="col-lg-6">
            <label for="shortName" class="form-label" i18n="@@DTO.ProjectDto.Name">[i18n] Name</label>
            <input id="shortName" type="text" class="form-control" formControlName="name" #shortName>
          </div>
          <div class="col-lg-6">
            <!--suppress XmlInvalidId -->
            <label for="companyName" class="form-label" i18n="@@DTO.ProjectDto.Customer">[i18n] Customer</label>
            <ng-select [items]="customers$ | ngrxPush"
                       bindValue="id"
                       bindLabel="value"
                       labelForId="companyName"
                       appendTo="body"
                       formControlName="customerId">
            </ng-select>
          </div>
          <div class="col-lg-12">
            <label for="comment" class="form-label" i18n="@@DTO.ProjectDto.Comment">[i18n] Comment</label>
            <textarea id="comment" class="form-control" formControlName="comment" rows="3"></textarea>
          </div>
          <div class="col-lg-12">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" id="hidden" formControlName="hidden">
              <label class="form-check-label" for="hidden" i18n="@@DTO.ProjectDto.Hidden">
                [i18n] Hidden
              </label>
            </div>
          </div>
          <div class="col-lg-12">
            <ts-form-validation-errors></ts-form-validation-errors>
          </div>
        </div>
      </form>
    </div>
    <div class="card-footer">
      <ts-confirm-button (confirmed)="delete()" [disabled]="isNewRecord" color="danger">
        <i class="bi bi-eraser me-1"></i>
        <ng-container i18n="@@Common.Delete">[i18n] Delete</ng-container>
      </ts-confirm-button>
      <button form="projectForm" type="submit" class="btn btn-primary">
        <i class="bi bi-check-square me-1"></i>
        <ng-container i18n="@@Common.Save">[i18n] Save</ng-container>
      </button>
    </div>
  </div>
</ng-template>
