<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <div class="container">

    <a class="navbar-brand" style="margin-top: -0.3rem;" routerLink="">
      <ts-icon icon="bi bi-calendar-week" class="me-2"></ts-icon>
      <span class="align-text-top">Timesheet</span>
      <span class="align-text-top" *ngIf="isDevelopment">
        <span class="d-inline d-sm-none">&nbsp;(xs)</span>
        <span class="d-none d-sm-inline d-md-none">&nbsp;(sm)</span>
        <span class="d-none d-md-inline d-lg-none">&nbsp;(md)</span>
        <span class="d-none d-lg-inline d-xl-none">&nbsp;(lg)</span>
        <span class="d-none d-xl-inline d-xxl-none">&nbsp;(xl)</span>
        <span class="d-none d-xxl-inline">&nbsp;(xxl)</span>
      </span>
    </a>

    <button class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link"
             data-bs-toggle="collapse"
             data-bs-target=".navbar-collapse.show"
             routerLink="/"
             routerLinkActive="active"
             [routerLinkActiveOptions]="{ exact: true }">
            <span i18n="@@Page.Timesheet.Title">[I18N] Timesheet</span>
          </a>
        </li>
        <li class="nav-item dropdown" routerLinkActive="active">
          <a class="nav-link dropdown-toggle" id="masterDataDropdown" routerLinkActive="active" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <ng-container i18n="@@Page.MasterData.MasterData">[I18N] Master Data</ng-container>
          </a>
          <ul class="dropdown-menu bg-success" aria-labelledby="masterDataDropdown">
            <li><a class="dropdown-item"
                   data-bs-toggle="collapse"
                   data-bs-target=".navbar-collapse.show"
                   i18n="@@Page.MasterData.Customers.Title"
                   routerLink="/master-data/customers"
                   routerLinkActive="active">[I18N] Customers</a></li>
            <li><a class="dropdown-item"
                   data-bs-toggle="collapse"
                   data-bs-target=".navbar-collapse.show"
                   i18n="@@Page.MasterData.Projects.Title"
                   routerLink="/master-data/projects"
                   routerLinkActive="active">[I18N] Projects</a></li>
            <li><a class="dropdown-item"
                   data-bs-toggle="collapse"
                   data-bs-target=".navbar-collapse.show"
                   i18n="@@Page.MasterData.Orders.Title"
                   routerLink="/master-data/orders"
                   routerLinkActive="active">[I18N] Orders</a></li>
            <li><a class="dropdown-item"
                   data-bs-toggle="collapse"
                   data-bs-target=".navbar-collapse.show"
                   i18n="@@Page.MasterData.Activities.Title"
                   routerLink="/master-data/activities"
                   routerLinkActive="active">[I18N] Activities</a></li>
          </ul>
        </li>
      </ul>
    </div>

  </div>
</nav>
