<nav class="navbar navbar-expand-md navbar-dark bg-success">
  <div class="container">

    <a class="navbar-brand" style="margin-top: -0.3rem;" routerLink="">
      <i class="bi-calendar-week align-text-bottom"></i>&nbsp;
      <span class="align-text-top">Timesheet</span>
      <span class="align-text-top" *ngIf="isDevelopment">
        <span class="d-inline d-sm-none">&nbsp;(xs)</span>
        <span class="d-none d-sm-inline d-md-none">&nbsp;(sm)</span>
        <span class="d-none d-md-inline d-lg-none">&nbsp;(md)</span>
        <span class="d-none d-lg-inline d-xl-none">&nbsp;(lg)</span>
        <span class="d-none d-xl-inline d-xxl-none">&nbsp;(xl)</span>
        <span class="d-none d-xxl-inline">&nbsp;(xxl)</span>
      </span>
    </a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Timesheet</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/mater-data" routerLinkActive="active">Master Data</a>
        </li>
      </ul>
    </div>

  </div>
</nav>
