/* sarabun-300 - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 300;
  src: url('/assets/fonts/sarabun-v13-latin-300.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/sarabun-v13-latin-300.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/sarabun-v13-latin-300.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/sarabun-v13-latin-300.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/sarabun-v13-latin-300.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/sarabun-v13-latin-300.svg#Sarabun') format('svg'); /* Legacy iOS */
}

/* sarabun-regular - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 400;
  src: url('/assets/fonts/sarabun-v13-latin-regular.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/sarabun-v13-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/sarabun-v13-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/sarabun-v13-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/sarabun-v13-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/sarabun-v13-latin-regular.svg#Sarabun') format('svg'); /* Legacy iOS */
}

/* sarabun-700 - latin */
@font-face {
  font-family: 'Sarabun';
  font-style: normal;
  font-weight: 700;
  src: url('/assets/fonts/sarabun-v13-latin-700.eot'); /* IE9 Compat Modes */
  src: local(''),
  url('/assets/fonts/sarabun-v13-latin-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/assets/fonts/sarabun-v13-latin-700.woff2') format('woff2'), /* Super Modern Browsers */
  url('/assets/fonts/sarabun-v13-latin-700.woff') format('woff'), /* Modern Browsers */
  url('/assets/fonts/sarabun-v13-latin-700.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/assets/fonts/sarabun-v13-latin-700.svg#Sarabun') format('svg'); /* Legacy iOS */
}
